body {
  background-color: #343a40;
  width: 100vw;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .card-thumbnail {
    width: 50%;
  }
  .card-thumbnail-lg {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.3vw;
  }
  .card-thumbnail {
    width: 33%;
  }
  .card-thumbnail-lg {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .card-thumbnail {
    width: 20%;
  }
  .card-thumbnail-lg {
    width: 33%;
  }
}

.bg-blue {
  background-color: #00ADEF !important;
}

.logoWhole {
  width: 25vmin;
}

.navbar-light .navbar-toggler {
  outline: none;
}

.navbar-toggler-icon {
  background: none !important;
}

.dial {
  background-image: url("../src/static/logo/dial.svg");
}

.fade {
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}

.img-fluid {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-override {
  background-color: rgba(255, 255, 255, 0) !important;
}